<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="renderer" content="webkit">
	<title>后台管理</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
</head>

<body>

<div class="container">
	<div class="panel panel-default login-panel col-xs-12 col-md-4 col-md-offset-4">
		<div class="panel-heading">
			<h3 class="panel-title text-center">
				后台管理系统
			</h3>
			<div class="info text-muted text-center">
				<span>让微信更有力量 </span>
				<a class="text-muted" target="_blank" href="#">
					微信管理
				</a>
			</div>
		</div>
		<div class="panel-body">
			<form class="login-form" method="post">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="用户名" name="user">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" placeholder="请输入密码" name="mima">
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" target-form="login-form">登录</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
