<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<title>邮寄信息</title>
		<link rel="stylesheet" href="__PUBLIC__/Index/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Index/css/mailInfo.css">
	</head>

	<body>
		<div class="headTitle">
			<h4>为了保障您的会员权益，请务必填写：</h4>
		</div>
		<form action="" method="post">
			<div class="telInfo">
				<div class="name">
					<h4 class="nameTxt">姓名</h4>
					<span class="nameT"><input type="text" class="form-control goodsCode" name="name" placeholder="姓名"></span>
				</div>
				<div class="tel">
					<h4 class="telTxt">手机</h4>
					<span class="telT"><input type="text" class="form-control goodsCode" name="tel" placeholder="手机号"></span>
				</div>
				<div class="address">
					<h4 class="addressTxt">地址</h4>
					<span class="addressT"><textarea type="text" class="form-control goodsCode" name="address" placeholder="填写完整的收货地址"></textarea></span>
				</div>
			</div>
			<input type="submit" class="btn btn-primary saveBtn" data-toggle="button" value="保存" />
		</form>
	</body>
</html>