<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <title>我的积分</title>
    <link rel="stylesheet" href="__PUBLIC__/Index/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Index/css/myBuyInfo.css">
    <script src="__PUBLIC__/Index/js/jquery.js"></script>
    <script src="__PUBLIC__/Index/js/bootstrap.min.js"></script>
</head>

<body>
<div class="bannerDiv">
    <img src="__PUBLIC__/Index/images/mybuyinfo_02.jpg" alt="我的购买信息">
    <h4>我的积分</h4>
    <div class="buySL">
        <h2>{$point}<br><p>可抵扣<span>{$point}</span>元</p></h2>
    </div>
</div>

<div class="buyRecords">
    <a href="pointlog.html"> <h4 class="buyRecordsTxt">积分记录</h4>
    <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="JFInfo">
    <div class="JFinfo">
        <h5>积分说明</h5>
        <ul>
            <li>使用说明：1积分可抵1元</li>
            <li>使用积分抵扣现金，只能抵扣当次消费的70%</li>
            <li>发放方式：实收金额每消费20元赠送1积分</li>
            <li>有效期：当年发放的积分在下一年度的12月31日过期</li>
        </ul>
    </div>


</div>
</body>
</html>
