
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconfontzuanshi:before { content: "\e601"; }
.icon-iconfontgz:before { content: "\e602"; }
.icon-iconfontfl:before { content: "\e603"; }
.icon-iconfontbl:before { content: "\e604"; }
.icon-iconfontgr:before { content: "\e605"; }
