<!DOCTYPE HTML>
<html>

	<head>
		<title>后台管理系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__PUBLIC__/Admin/css/dpl-min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Admin/css/bui-min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Admin/css/main-min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div class="header">

			<div class="dl-title">
			</div>

			<div class="dl-log">欢迎您，<span class="dl-log-user"><?php echo $_SESSION['user'] ?></span><a href="__ROOT__/index.php/Admin/Login/tuichu" title="退出系统" class="dl-log-quit">[退出]</a>
			</div>
		</div>
		<div class="content">
			<div class="dl-main-nav">
				<div class="dl-inform">
					<div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div>
				</div>
				<ul id="J_Nav" class="nav-list ks-clear">
					<li class="nav-item dl-selected">
						<div class="nav-item-inner nav-home">系统管理</div>
					</li>
				</ul>
			</div>
			<ul id="J_NavContent" class="dl-tab-conten">

			</ul>
		</div>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/bui-min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/common/main-min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/config-min.js"></script>
		<script>
			BUI.use('common/main',function(){
			     var config = [
			      	{id:'1',menu:
			      		[{text:'用户管理',items:[
			      			{id:'1',text:'用户列表',href:'User/index.html'},
			      		]},{text:'产品管理',items:[
			      			{id:'2',text:'产品列表',href:'Cp/index.html'},
			      			{id:'3',text:'添加产品',href:'Cp/add.html'},
			      		]},{text:'加工管理',items:[
			      			{id:'4',text:'加工列表',href:'Jg/index.html'},
			      		]},{text:'订单管理',items:[
			      			{id:'6',text:'订单列表',href:'Order/index.html'},
			      		]},{text:'新闻管理',items:[
			      			{id:'8',text:'新闻列表',href:'Xw/index.html'},
			      			{id:'9',text:'添加新闻',href:'Xw/add.html'},
			      		]},{text:'菜单管理',items:[
							{id:'10',text:'菜单列表',href:'Menu/index.html'},
							{id:'11',text:'添加菜单',href:'Menu/add.html'},
						]}]
			      	},
			    ];
			      new PageUtil.MainPage({
			        modulesConfig : config
			      });
			    });
		</script>
	</body>

</html>